.me-auto {
    font-family: "Purple Purse", serif;
    color: aliceblue;
  }
  
  nav.link {
    margin-right: 60px;
    color: aliceblue;
    /* Removed color white to inherit from parent */
  }
  
  .nav-link:hover {
    border-bottom: 3px solid #faf8f8; 
    /* Change color of dashed line */
    
  }

.social-icon {
    margin-right: 30px; /* Space between icons */
    color: #faf8f8; /* Set initial text color to white */
    size: 50px;
}

.social-icon:hover {
   color: #faf8f8;
   background-color: aliceblue;
   /* Not sure about this property, as it's not valid CSS */
}
