.boxx {
    background-color: #1e1e1e;
    width: 100%;
    min-height: 1000px; /* Use min-height to ensure content fits */
    overflow: hidden; /* Prevent overflow */
    padding: 20px 0; /* Add padding for better spacing */
  }
  
  h3 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: aliceblue;
    margin-top: 0;
  }
  
  .tabs {
    width: 70%;
    max-width: 800px; /* Limit maximum width */
    background-color: #696666;
    border-radius: 5px;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap; /* Allow tabs to wrap on smaller screens */
    padding: 10px; /* Add padding for spacing */
  }
  
  .tab1 {
    height: 30px;
    background-color: #03dac6;
    border-radius: 6px;
    padding: 17px;
    margin-left: 10px;
    margin-top: 4px;
    color: black;
    text-align: center;
    font-family: "Roboto", sans-serif;
    display: inline-flex; /* Display inline flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
  }
  
  .tab {
    height: 30px;
    margin-left: 10px;
    margin-top: 8px;
    border-radius: 6px;
  
    color: rgb(244, 241, 241);
   
    font-family: "Roboto", sans-serif;
    display: inline-flex; /* Display inline flex */
   
   
  }
.imo{
  width: 20%;
  margin-left:80% ;
  position:absolute;
  
}
  
.im9{
  width: 20%;
 position: relative;
}
 