.strip {
    height: 100px;
    width: 100%;
    background-color: rgb(237, 237, 237);
    color: black;
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.img1 {
    height: 80%;
    margin-left: 7%;
    filter: grayscale(100%);
    opacity: 30%;
}

/* Responsive design for smaller screens */
@media (max-width: 800px) {
    .strip {
        height: 80px;
        padding-top: 10px;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }
    
    .img1 {
        height: 50%;
        margin-left: 0;
    }
}

@media (max-width: 540px) {
    .strip {
        height: 60px;
        padding-top: 5px;
    }
    
    .img1 {
        height: 40%;
    }
}
